{% if page.lang %}
<link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
{% else %}
<link rel="alternate" hreflang="x-default" href="https://www.santiago-martins.com{{ page.url }}" />
{% endif %}
<script id="mcjs">
  !function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/a6efee2001dca0137c16246e9/2ff183a081580bdadb613a575.js");
</script>
{% seo %}